div.rooms
{
    overflow: auto;
    white-space: nowrap;
    background-color:darkslategrey;
    margin-bottom: 50px;
}
div.rooms a
{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 12px;
    font-size: 200%;
    color: white;
}
div.rooms a:hover
{
    background-color: rgb(49, 53, 54);
}
.center
{
    text-align: center;
}
button
{
    padding: 12px;
    font-size: 170%;
}
#title
{
    font-size: 250%;
    text-decoration: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.message
{
    text-align: center;
    display: block;
    width: 500px;
    padding: 5px;
    border: 2px solid;
    border-radius: 5px;
    margin: auto;
}
#display_name
{
    margin-top: 20px;
    margin-bottom: 30px;
}