div.rooms
{
    position: absolute;
    width: 15%;
    overflow: auto;
    white-space: nowrap;
    background-color:darkslategrey;
    margin-bottom: 1.2%;
}
div.rooms a
{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 0.7%;
    font-size: 200%;
    color: white;
}
#account-bar
{
    text-align: right;
}
#account-bar button
{
    display: inline-block;
    padding: 0.5%;
    font-size: 2vh;
    margin-right: 1%;
}
#disconnected{
    text-align: center;
    font-weight: bold;
    color: red;
}
.center
{
    text-align: center;
}
div.rooms button
{
    width: 100%;
    font-size: 170%;
}
#title
{
    font-size: 300%;
    text-decoration: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
#usernamedisplay
{
    width: 10%;
    box-sizing: content-box;
    border: solid 1px black;
    margin-top: 4%;
    margin-left: 45%;
    margin-bottom: 2%;
    text-align: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.message
{
    text-align: center;
    display: block;
    width: 35%;
    padding: 0.3%;
    border: 2px solid;
    border-radius: 5px;
    margin: auto;
}
#display_name
{
    margin-top: 3%;
    margin-bottom: 2%;
}
img
{
    display: block;
    max-width: 15%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
}