<!DOCTYPE html>

<html>
    <head>
        <title> {{title}} chat </title>
        <link rel="stylesheet" href="{{url_for("static", filename="style.css")}}">
        <link rel="icon" type="image/x-icon" href="{{url_for("static", filename="chat.ico")}}">

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
        <script src="{{url_for("static", filename="script.js")}}"></script>
    </head>

    <body>
        <div id="rooms" class="rooms">
            
        </div>

        <div id="account-bar">
            <button onclick="document.getElementById('login').showModal();"> Log In </button>
            <button onclick="document.getElementById('createaccount').showModal();"> Create Account </button>
        </div>

        <dialog id="login">
            <form id="inlog" method="post">
                <button onclick="document.getElementById('login').close();"> X </button>
                <p> Log In </p>
                <input type="email" placeholder="email" autocomplete="off" name="email" required><br><br>
                <input type="password" placeholder="password" autocomplete="off" name="password" required><br><br>
                <input type="submit" value="Log In">
            </form>
        </dialog>

        <dialog id="createaccount">
            <form id="accountcreate" method="post">
                <button onclick="document.getElementById('createaccount').close();"> X </button>
                <p> Create account </p>
                <input id="emailcreate" type="email" placeholder="email" autocomplete="off" name="email-confirm" required><br><br>
                <input type="submit" value="Continue">
            </form>
        </dialog>

        <dialog id="confirmemail">
            <form id="emailconfirm" method="post">
                <p> Type in the code emailed to you </p>
                <input id="emailcode" type="text" placeholder="code" autocomplete="off" name="emailcode" required><br><br>
                <input type="submit" value="Continue">
            </form>
        </dialog>

        <dialog id="accountinfo">
            <form id="infoaccount" method="post">
                <p> Create Account </p>
                <input id="username" type="text" placeholder="username" autocomplete="off" name="username" required><br><br>
                <input id="password" type="password" placeholder="password" autocomplete="off" name="password" required><br><br>
                <input id="passwordconfirm" type="password" placeholder="confirm password" autocomplete="off" name="confirmpassword" required><br><br>
                <input type="submit" value="Create Account">
            </form>
        </dialog>

        <dialog id="accountcreated">
            <p style="color: green;"> Account Created </p>
            <button onclick=" document.getElementById('accountcreated').close();"> Close </button>
        </dialog>

        <dialog style="display: none;" id="room-settings">
            <h3> Room Title </h3>
            
            <input type="checkbox">
            <p style="display: inline;"> Activate blacklist </p>
            <br>
            <input type="checkbox">
            <p style="display: inline;"> Activate whitelist </p>
            <br><br>

            <button onclick="delete_room()"> Delete </button>
        </dialog>

        <p id="disconnected" hidden> Disconnected </p>

        <br><br>

        <div  class="center""><a id="title" href="/"> Global chat </a></div>

        <p id="usernamedisplay"> Anon </p>

        <form class="center" id="poster" method="POST" action="/new-message" enctype="multipart/form-data">
            <label for="message">Post message:</label><br>
            <textarea id="message" name="message" rows="4" cols="40" required></textarea><br>
            <input type="file" id="image" name="image">
            <input type="submit" value="Post message">
        </form>

        <div id="messages" style="margin-top: 50px;">
            
        </div>
    </body>
</html>